<footer class="footer">
  <nav class="nav nav--footer">
    <a class="nav__link nav--footer__link" href="/web/"     title="">Web</a>
    <a class="nav__link nav--footer__link" href="/graphic/" title="">Graphic</a>
    <a class="nav__link nav--footer__link" href="/video/"   title="">Video</a>
    <a class="nav__link nav--footer__link" href="/photo/"   title="">Photo</a>
    <a class="nav__link nav--footer__link nav__link--contact" href="mailto:hello@atkins.digital" title="">hello@atkins.digital</a>
  </nav>
</footer>
