<header class="header">
  <a class="logo logo--header"><img src="/assets/img/atkins-digital.svg" title="atkins | digital"></a>
  <nav class="nav nav--header">
    <a class="nav__link nav--header__link" href="/web/"     title="">Web</a>
    <a class="nav__link nav--header__link" href="/graphic/" title="">Graphic</a>
    <a class="nav__link nav--header__link" href="/video/"   title="">Video</a>
    <a class="nav__link nav--header__link" href="/photo/"   title="">Photo</a>
    <a class="nav__link nav--header__link nav__link--contact" href="mailto:hello@atkins.digital" title="">hello@atkins.digital</a>
  </nav>
</header>
