<header class="header {% if page.url != '/' %} header--internal {% endif %}">
  <a class="logo logo--header" href="/" alt="">
    <svg viewBox="0 0 267 34" class="logo__img logo--header__img">
      <use xlink:href="#logo"></use>
    </svg>
  </a>
  <nav class="nav nav--header">
    <a class="nav__link nav--header__link" href="/web/"     title="">Web</a>
    <a class="nav__link nav--header__link" href="/graphic/" title="">Graphic</a>
    <a class="nav__link nav--header__link" href="/video/"   title="">Video</a>
    <a class="nav__link nav--header__link" href="/photo/"   title="">Photo</a>
    <a class="nav__link nav--header__link nav__link--contact" href="mailto:hello@atkins.digital" title="">hello@atkins.digital</a>
  </nav>
</header>
