<header class="header {% if page.url != '/' %} header--internal {% endif %}" id="js-header">
  <div class="contained">

    <div class="watermark">
      <svg viewBox="0 0 275 100" class="watermark__img">
        <use xlink:href="#watermark"></use>
      </svg>
    </div>

    <a class="logo logo--header" id="js-logo" href="/" alt="">
      <svg viewBox="0 0 267 34" class="logo__img logo--header__img">
        <use xlink:href="#logo"></use>
      </svg>
    </a>

    {% include nav.html modifier = 'header' %}

  </div>
</header>
