<nav class="nav nav--{{ include.modifier }}">
  <a
    class="nav__link nav--{{ include.modifier }}__link {% if page.path == 'web.html' %} is-current {% endif %}"
    href="/web/" 
    title="">
      <span class="nav__link-internal">1.Web Design</span>
  </a>
  <a 
    class="nav__link nav--{{ include.modifier }}__link{% if page.path == 'graphic.html' %} is-current {% endif %}" 
    href="/graphic/" 
    title="">
      <span class="nav__link-internal">2.Grahic Design</span>
  </a>
  <a 
    class="nav__link nav--{{ include.modifier }}__link{% if page.path == 'video.html' %} is-current {% endif %}" 
    href="/video/" 
    title="">
      <span class="nav__link-internal">3.Videography</span>
  </a>
  <a 
    class="nav__link nav--{{ include.modifier }}__link{% if page.path == 'photo.html' %} is-current {% endif %}" 
    href="/photo/" 
    title="">
      <span class="nav__link-internal">4.Photography</span>
  </a>
  <a 
    class="nav__link nav--{{ include.modifier }}__link{% if page.path == 'mixed-reality.html' %} is-current {% endif %}" 
    href="/mixed-reality/" 
    title="">
      <span class="nav__link-internal">5.Mixed Reality</span>
  </a>
  <a 
    class="nav__link nav--{{ include.modifier }}__link {% if page.path == 'about.html' %} is-current {% endif %}" 
    href="/about/" 
    title="">
      <span class="nav__link-internal">6.About</span>
  </a>
  <a 
    class="nav__link nav--{{ include.modifier }}__link {% if page.path == 'connect.html' %} is-current {% endif %}" 
    href="mailto:hello@atkins.digital" 
    title="">
      <span class="nav__link-internal">7.hello@atkins.digital</span>
  </a>
</nav>
