.breadcrumb
  position: relative
  margin-bottom: 4em
  margin-left: -3em

  &__link
    +strike
    font-size: 1em
    text-transform: uppercase
    position: absolute
    text-decoration: underline
