.breadcrumb
  margin-bottom: 2em

  +breakpoint($breakpoint__sm)
    position: relative
    margin-left: -3em

  &__link
    +strike
    font-size: 1em
    text-transform: uppercase
    text-decoration: underline

    +breakpoint($breakpoint__sm)
      position: absolute
