.breadcrumb
  position: relative
  margin-bottom: 4em
  margin-left: -3em

  &::before
    // content: '<'

  &__link
    +strike
    font-size: 1em
    text-transform: uppercase
    position: absolute
