.footer
  padding: 1em
  background: $color__black
  background: $color__white
  text-align: center

  .by-line
    font-family: serif
    font-style: italic
    margin: 8em 0 1em
    text-align: center
    font-size: 0.5em
