.footer
  // background: $color__white
  overflow: hidden
  padding: 14em 0 0
  // border-bottom: 16em solid $color__black

  &::before
    content: ''
    display: block
    width: 1em
    height: 6px
    background-color: $color__black
    position: absolute


  &__sub
    clear: both
    // height: 16em
    // background-color: $color__black
    overflow: hidden
    padding: 3em 0 4em
    border-bottom: 1em solid $color__black

    a
      // color: $color__white

  .by-line
    // color: $color__white
    // float: right
    font-family: serif
    font-style: italic
    text-align: justify
    font-size: 0.5em
    // width: 6em
    word-wrap: break-word
    word-break: break-all
    margin: 3em 0 0
