// https://github.com/Heydon/fukol-grids

.fukol-grid
  display: flex   // 1
  flex-wrap: wrap // 2
  // margin: 0 auto  // 5 (edit me!)
  width: 100%

.fukol-grid > *
  flex: 1 0 15em  // 3 (edit me!)
  margin: 0       // 4 (edit me!)

.contained
  max-width: 70em
  margin: 0 auto
  padding: 0 1em
