.header
  @extend .clearfix
  padding: 1em 1em 4em
  //background: $color__white
  background-image: url('/assets/img/top.jpg')
  // background-size: 100%

  &--internal
    border-top: 0.75em solid $color__black
