.nav
  // background-color: $color__white
  font-family: serif
  font-style: italic
  float: left
  text-align: justify
  margin-top: 4em

  +breakpoint($breakpoint__sm)
    margin-top: 0.9em

  &--header
    +breakpoint($breakpoint__sm)
      padding-left: 0.2em
      // background: $color__black

    &__link
      color: $color__white
      // background-color: $color__black

      &::before
        background-color: $color__white !important

    &__divider
      color: $color__white

  &__link
    +strike
    line-height: 0.9em
    font-size: 2em
    display: block

    +breakpoint($breakpoint__sm)
      font-size: 1em
      display: inline
      padding: 0 0.5em

    &.is-current

      .nav__link-internal
        &::before
          content: '*'

  &__link-internal
    background-color: $color__black
    line-height: 1.3em

  &__divider
    display: none

    +breakpoint($breakpoint__sm)
      display: inline
