.nav
  font-family: serif
  font-style: italic
  float: left
  text-align: justify
  margin-top: 6em

  +breakpoint($breakpoint__sm)
    margin-top: 0.9em

  &__link
    display: block
    line-height: 0.9em
    font-size: 2em

    +breakpoint($breakpoint__sm)
      font-size: 1em
      display: inline
      padding: 0 0.5em

    &.is-current

      .nav__link-internal
        &::before
          content: '*'

  &--footer__link
    &.is-current
      .nav__link-internal
        &::before
          background: $color__white

        &:hover::before
          color: $color__black

  &__link-internal
    background-color: $color__black
    line-height: 1.3em

  &__divider
    display: none
    color: $color__white

    +breakpoint($breakpoint__sm)
      display: inline

  &--header
    position: relative
    width: 10em

    +breakpoint($breakpoint__sm)
      margin-top: -2em

    &__link
      display: block
      font-style: italic
      font-size: 1.5em
      line-height: 1
      padding: 0
      margin-bottom: 0.25em
      color: $color__white

      +breakpoint($breakpoint__lg)
        font-size: 1em

      // &:nth-child(1)
      //   font-family: serif
      //   font-style: italic
      //   transform: rotate(-2deg)

      // &:nth-child(2)
      //   font-family: Akrobat
      //   font-weight: bold
      //   transform: rotate(2deg)

      // &:nth-child(3)
      //   font-family: Akrobat

      // &:nth-child(4)
      //   font-family: serif
      //   font-weight: bold
      //   font-style: italic
      //   transform: rotate(-2deg)

      // &:nth-child(5)
      //   font-family: Akrobat

      // &:last-child
      //   font-style: italic
      //   font-family: zuric
      //   font-size: 2em
      //   transform: rotate(-2deg)

      &::before
        // background-color: $color__white !important

    &__link-internal
      +strike($color: $color__white)
      background-color: $color__black
      padding: 0 0.75em

    &__divider
      display: none

  &--footer
    &__link
      padding: 0

      &:hover
        color: $color__white
