.nav
  &__link
    font-weight: bold
    text-transform: uppercase
    font-size: 1.8em
    line-height: 1
    display: block

    &:hover
      // color: $color__black

    &--contact

  &__contact-label
    &--short
      display: none
      
      +breakpoint(($breakpoint__sm - 10em) ($breakpoint__sm + 7))
        display: inline

    &--long
      +breakpoint(($breakpoint__sm - 10em) ($breakpoint__sm + 7))
        display: none

  &--header
    +breakpoint($breakpoint__sm - 10em)
      float: right

    &__link
      +strike
      padding: 0 4px

      +breakpoint($breakpoint__sm - 10em)
        transform: rotate(90deg)
        display: inline-block
        width: 1.5em
        font-size: 1.6em
        left: 0

      +breakpoint($breakpoint__sm + 7em)
        transform: rotate(0)
        font-size: 1em
        width: auto
        margin: 0 0.75em

        &:last-child
          margin-right: 0

      &--contact
        // background: $color__highlight

  &--footer
    text-align: right

    &__link
      +strike($color: $color__white)
      color: $color__white
      font-weight: normal

      +breakpoint($breakpoint__sm)
        font-size: 1.3em

      &--contact
        border-color: $color__white
