.nav
  margin: 0
  padding: 0
  list-style: none

  &__item
    display: block

    +breakpoint($breakpoint__sm)
      display: inline-block
      margin: 0 0.25em

      &:last-child
        margin-right: 0

    +breakpoint($breakpoint__sm - 10em)
      // transform: rotate(90deg)
      // width: 2em
      // float: left

  &__link
    +strike
    // display: block
    padding: 0 4px
    font-weight: bold
    text-transform: uppercase
    font-size: 1.8em
    line-height: 1

    span
      +breakpoint($breakpoint__sm)
        // font-size: 0.5em !important

  &__divider
    display: none

    +breakpoint($breakpoint__sm + 7em)
      display: inline

  &--header
    +breakpoint($breakpoint__sm - 10em)
      float: right

    &__link
      &.is-current
        +staticStrike($color: $color__highlight)

      +breakpoint($breakpoint__sm - 10em)
        // transform: rotate(90deg)
        // display: inline-block
        // width: 1.5em
        font-size: 1.6em
        // left: 0

      +breakpoint($breakpoint__sm + 7em)
        // transform: rotate(0)
        font-size: 1em
        // width: auto
        // margin: 0 0.75em

        &:last-child
          // margin-right: 0

  &--footer
    margin-top: 3em

    &__link
      // display: inline-block
      
      &.is-current
        +staticStrike($color: $color__white)

      +breakpoint($breakpoint__sm)
        font-size: 1em
        margin: 0 0.75em
