@font-face 
  font-family: 'Akrobat'
  src: url('/assets/fonts/akrobat/akrobat-regular.woff') format('woff'), url('/assets/akrobat/akrobat-regular.woff') format('woff2')

@font-face 
  font-family: 'Akrobat'
  src: url('/assets/fonts/akrobat/akrobat-extrabold.woff') format('woff'), url('/assets/akrobat/akrobat-extrabold.woff') format('woff2')
  font-weight: bold

@font-face 
  font-family: 'Courier Prime'
  src: url('/assets/fonts/courier-prime/courier-prime-code.ttf') format('woff')

@font-face 
  font-family: 'Courier Prime'
  src: url('/assets/fonts/courier-prime/courier-prime-code-italic.ttf') format('woff')
  font-style: italic

@font-face 
  font-family: 'Imroman'
  src: url('/assets/fonts/imroman/lmromanslant10-regular.woff') format('woff')
  // font-style: italic

@font-face 
  font-family: 'dings'
  src: url('/assets/fonts/wingdings.woff') format('woff')

@font-face 
  font-family: 'Zuric'
  src: url('/assets/fonts/zuric/322123_2_0.woff') format('woff'), url('/assets/fonts/zuric/322123_2_0.woff2') format('woff2')

@font-face 
  font-family: 'Zuric'
  src: url('/assets/fonts/zuric/322123_1_0.woff') format('woff'), url('/assets/fonts/zuric/322123_1_0.woff2') format('woff2')
  font-style: italic

@font-face 
  font-family: 'Zuric'
  src: url('/assets/fonts/zuric/322123_0_0.woff') format('woff'), url('/assets/fonts/zuric/322123_0_0.woff2') format('woff2')
  font-weight: 400
  font-style: italic

@font-face 
  font-family: 'Zuric'
  src: url('/assets/fonts/zuric/322123_3_0.woff') format('woff'), url('/assets/fonts/zuric/322123_3_0.woff2') format('woff2')
  font-weight: 400

body
  font-family: $font__family--primary
  font-size: 90%
  letter-spacing: 0.05em
  color: $color__black

h1, h2, h3
  font-weight: normal
  margin: 0

h1
  font-weight: bold
  font-size: 5em
  font-family: Akrobat
  margin-bottom: 1em
  background: $color__black
  padding-bottom: 1em
  color: $color__white
  letter-spacing: 1em 
  overflow: hidden

  +breakpoint($breakpoint__sm)
    margin-bottom: 2em

  &::after
    content: ''
    display: block
    width: 1em
    height: 6px
    margin-top: 1em
    background-color: $color__black
    position: absolute

h3
  margin-bottom: 0.5em
  font-size: 1.25em

a
  color: $color__black
  text-decoration: none
