*
  box-sizing: border-box

html, body
  background-color: $color__black

::selection
  background: $color__highlight

.main
  background-color: $color__white

.clearfix
  &:after
    content: ""
    display: table
    clear: both
