$color__black: #000000
$color__black--alt: #2a2a2a
$color__gray: #cecece
$color__gray--dark: #777777
$color__white: rgb(253, 253, 253)
$color__highlight: rgb(201, 255, 35)
$color__red: #ca0000
$color__blue: rgba(44, 44, 160, 1.0)
$color__cream--light: #f1f1f0

$font__family--primary: 'Akrobat', sans-serif
$font__family--secondary: 'Anonymous Pro', monospace

$breakpoint__sm: 40em
