.work
  
  &--summary
    margin-bottom: 4em

    &:last-child
      margin-bottom: 0

    &__story

      p
        max-width: 20em

    &__title
      height: 3em
      font-size: 2em
      letter-spacing: 0.5em

  &--full
    &__story
      +breakpoint($breakpoint__sm)
        column-count: 3
        column-gap: 10em

    &__title
      font-size: 3em
      margin-bottom: 2em
      letter-spacing: 1em
      color: $color__white
      font-family: Akrobat
      
  &__story
    text-align: right
    margin-bottom: 4em

    &::after
      content: ''
      display: block
      height: 6px
      width: 10px
      background: $color__red
      float: right

    p
      font-size: 0.8em
      line-height: 1.5em
      font-style: italic
      color: $color__red
      text-align: justify
      // font-family: 'dings'

    > p
      margin-top: 0
      
      .first-word
        font-family: Zuric
        font-size: 3em
        padding-left: 5em
        letter-spacing: -0.15em

      // &::first-letter
      //   font-size: 5em
      //   font-family: serif
      //   padding-left: 5em

      // &::before
      //   content: ''
      //   display: block
      //   width: 10em
      //   height: 10em
      //   float: left
      //   shape-outside: polygon(0 0, 100% 0, 90% 100%, 0 100%)

    a
      +strike
      font-weight: bold

      &::before
        background-color: $color__highlight

  &__title
    // font-size: 2em
    line-height: 0.8em
    font-weight: bold
    text-transform: uppercase
    text-align: left

  &__links-list
    list-style: none
    
  &__links-link

  &__item
    margin-bottom: 2em
    position: relative
    z-index: 2

    img
      max-width: 100%

    &:last-child
      margin-bottom: 0
