.work
  &__title
    font-family: Akrobat
    font-style: normal

  &--summary
    margin-bottom: 4em
    max-width: 50em

    &:last-child
      margin-bottom: 0

    &__story
      padding-left: 1em

      +breakpoint($breakpoint__sm)
        padding-left: 1em

        p
          max-width: 30em

      +breakpoint(40em)
        padding-left: 5em

    &__title
      font-size: 2em
      letter-spacing: 0.5em
      margin: 1em 0

      +breakpoint($breakpoint__sm)
        height: 3em

  &--full
    &__story
      +breakpoint($breakpoint__sm)
        column-count: 2
        column-gap: 5em

      +breakpoint(50em)
        column-count: 3
        column-gap: 10em

    &__title
      font-size: 3em
      margin-bottom: 2em
      letter-spacing: 1em
      color: $color__white
      
  &__story
    text-align: right

    +breakpoint($breakpoint__sm)
      // margin-bottom: 4em

    &::after
      content: ''
      display: block
      height: 6px
      width: 10px
      background: $color__red
      float: right

    p
      font-size: 0.8em
      line-height: 1.5em
      font-style: italic
      color: $color__red
      text-align: justify

      &.dings
        font-family: 'dings'

    > p
      margin-top: 0
      
      .first-word
        font-family: Zuric
        font-size: 3em
        padding-left: 5em
        letter-spacing: -0.15em
        color: $color__black

      // &::first-letter
      //   font-size: 5em
      //   font-family: serif
      //   padding-left: 5em

      // &::before
      //   content: ''
      //   display: block
      //   width: 10em
      //   height: 10em
      //   float: left
      //   shape-outside: polygon(0 0, 100% 0, 90% 100%, 0 100%)

    a
      +strike
      font-weight: bold

      &::before
        background-color: $color__highlight

  &__title
    // font-size: 2em
    line-height: 0.8em
    font-weight: bold
    text-transform: uppercase
    text-align: left
    color: $color__black
    background: $color__white

  &__thumb
    width: 100%

  &__links-list
    list-style: none
    
  &__links-link

  &__item
    margin-top: 3em
    margin-bottom: 2em
    position: relative
    z-index: 2

    img
      max-width: 100%

    &:last-child
      margin-bottom: 0
