.work-summary
  max-width: 60em
  margin-bottom: 1em

  &:hover
    text-decoration: underline
    color: $color__gray--dark

  &__thumb
    width: 100%

  &__title
    margin: 0.5em 0

  &__category
    text-transform: uppercase
    // color: $color__white
    line-height: 0.8em
    background-color: $color__highlight

  &__text
    font-size: 0.8em
    color: $color__gray--dark
