.work
  &__story
    text-align: right
    margin-bottom: 4em

    &::after
      content: ''
      display: block
      height: 6px
      width: 10px
      background: $color__red

    p
      font-size: 0.8em
      line-height: 1.5em
      font-style: italic
      color: $color__red

    > p
      margin-top: 0

    a
      +strike
      font-weight: bold

      &::before
        background-color: $color__highlight

  &__links-list
    list-style: none
    
  &__links-link

  &__item
    margin-bottom: 2em
